.app {
  background: #9dcceb;;
  padding: 30px;
  height: 100vh;
  margin: o auto;
}
.todo-list {
  background: #ffe4e4;
  border-radius: 4px;
  padding: 5px;
  max-width: 600px;
  margin:auto;
}
.todo{
  background: #fff;
display: flex;
justify-content: space-between;
padding: 3px 8px;
margin-bottom: 8px;
border-radius: 3px;
}
.input{
  width: 30%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
form{
  display: flex;
    justify-content: center;
}
h1{
  text-align: center;
}
.output-decoration{
  display: contents;

}
.BOX-2 input{
  background: transparent;
  border:0;

}
.BOX-2 input:focus{
  outline:none;
}
.status-todo{
  max-width: 600px;
  margin:auto;
  height: 20px;
  background:#fff;
  border-radius: 4px;
  padding: 5px;
  text-align: center;

}
.status-todo a{
  text-decoration: none;
  margin:0 5px;
}
